[Unit]
Description=Keyboard Control
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /home/ubuntu/dormautomation/pi/control.py

[Install]
WantedBy=multi-user.target
